Source: node-execa
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs (>= 0.14.12~)
 , node-babel7
 , node-get-stream
 , node-is-stream (>= 3)
 , node-merge-stream
 , node-npm-run-path (>= 5.1.0+~4.0.0~)
 , node-signal-exit (>= 4~)
 , node-strip-eof (>= 3.0.0-4~)
 , node-rollup-plugin-commonjs
 , node-rollup-plugin-node-resolve
 , rollup
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/js-team/node-execa
Vcs-Git: https://salsa.debian.org/js-team/node-execa.git
Homepage: https://github.com/sindresorhus/execa
Rules-Requires-Root: no

Package: node-execa
Architecture: all
Depends: ${misc:Depends}
 , node-get-stream
 , node-is-stream (>= 3)
 , node-merge-stream
 , node-mimic-fn (>= 4)
 , node-npm-run-path (>= 5.1.0+~4.0.0~)
 , node-shebang-command
 , node-signal-exit (>= 4~)
 , node-strip-eof (>= 3.0.0-4~)
 , node-which
Provides: ${nodejs:Provides}
Breaks: jest (<< 27.5.1~ds+~cs69.51.22-3~)
Description: better `child_process`
 This is better in the following ways:
  - Promise interface.
  - Strips EOF from the output so you don't have to `stdout.trim()`.
  - Supports shebang binaries cross-platform.
  - Improved Windows support.
  - Higher max buffer. 10 MB instead of 200 KB.
  - Executes locally installed binaries by name.
  - Cleans up spawned processes when the parent process dies.
 .
 Node.js is an event-based server-side JavaScript engine.
